.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.product-image {
  width: 300px;
  height: auto;
}

.product-info {
  text-align: center;
}

.product-name {
  font-size: 35px;
  margin: 10px 0;
}

.product-price {
  font-size: 20px;
  color: #333;
}

.product-description {
  font-size: 16px;
  margin: 10px 0;
}

.quantity-controls1 {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.quantity-wrapper {
  display: flex;
  align-items: center;
}

.quantity-button {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
}

.quantity {
  font-size: 18px;
  margin: 0 10px;
}

.buy-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}
